<div class="div">
    <form #form="ngForm" (submit)="enviarPedido()">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input #nombre="ngModel"
                [ngClass]="{'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched), 'is-valid': nombre.valid }"
                type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevoPedido.name" required
                minlength="3" style="max-width: 250px;" />
            @if (nombre.invalid && (nombre.dirty || nombre.touched)) {
            @if (nombre.getError('minlength')) {
            <div class="text-danger">Nombre Obligatorio</div>
            }
            @else {
            <div class="text-danger">Minimo 3 caracteres</div>
            }
            }
        </div>
        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <input #desc="ngModel"
                [ngClass]="{'is-invalid': desc.invalid && (desc.dirty || desc.touched),'is-valid': desc.valid && (desc.dirty || desc.touched)}"
                type="text" class="form-control" id="desc" name="desc" [(ngModel)]="nuevoPedido.description" required
                minlength="3" style="max-width: 250px;" />
            @if (desc.invalid && (desc.dirty || desc.touched)) {
            @if (desc.getError('minlength')) {
            <div class="text-danger">Descripcion Obligatoria</div>
            }
            @else {
            <div class="text-danger">Minimo 3 caracteres</div>
            }
            }
        </div>
            <button type="submit" class="btn btn-primary mb-4">A Cocina</button>
    </form>
</div>